<launch>
  <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch" />
  <include file="$(find very_simple_robot_simulator)/launch/lidar_simulator.launch" />
  <include file="$(find very_simple_robot_simulator)/launch/world_state.launch" />

  <node name="controller" pkg="localization" type="controller.py" output="screen"/>

</launch>
