<launch>
  <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch" />
  <include file="$(find very_simple_robot_simulator)/launch/lidar_simulator.launch" />

  <node name="controller" pkg="localization" type="controller.py" output="screen"/>
  <node name="particle_filter" pkg="localization" type="particle_filter.py" output="screen"/>
  <node name="display_particles" pkg="localization" type="display_particles.py" output="screen"/>


</launch>
